
<h1> Student Page </h1>
<div>
	<p>First Name: <%= @student.firstname %></p>
	<p>Last Name: <%= @student.lastname %></p>
	<p>Age: <%= @student.age %></p>
	<p>Cohort ID - Name: <%= @student.cohort_id %></p>

</div>