<div class="container-fluid">
<h1><%= @course.name %></h1>
<table class="table table-bordered">
   	<thead>
        <tr>
            <th>Course Name</th>
            <th>Location</th>
            <th>Total Hours</th>
        </tr>
    </thead>
    <tbody>
        <tr>
           	<td><%= @course.name %></td>
            <td><%= @course.location %></td>
            <td><%= @course.total_hours %></td>
        </tr>
    </tbody>
</table>
<p><a href="/courses"> Back </a></p>
</div>